body{
    background-color: cornflowerblue;
}

.main-body{
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
}

.vertical-center{ 
    position: relative;
    z-index: 1;
    background-color: white;
    max-width: 50%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo{
    width: 40%;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

.submit_btn{
    margin: auto;
    width: 70%;
    border: 0;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px 10px 20px;
}
