body{
    background-color: cornflowerblue;
}

.main-body {
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
}

.vertical-center { 
    z-index: 1;
    background-color: white;
    min-width: 180px;
    max-width: 50%;
    margin: 0 auto 100px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    padding: 70px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo {
    display: block;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    margin: 0 auto;
}

.submit_btn {
    margin: auto;
    width: 70%;
    border: 0;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 500px) {
  .vertical-center {
      margin: 0;
      width: 110px;
      padding: 45px;
  }
}
